
# Ignore Firebase credentials
firebaseServiceAccount.json
firebase-keys/
*.key
*.pem

# Node dependencies
node_modules/
.env

# Mac system files
.DS_Store

# Logs
*.log

# Python/Jupyter stuff
__pycache__/
*.ipynb_checkpoints
